---
title: "Ciccarelli Group"
layout: splash
permalink: /

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/FCI-FC-Lab-Group-001.jpg
  cta_label: "About Us"
  cta_url: "/about/"
  caption: "Cancer Systems Biology Laboratory"
excerpt: "Cancer genomics and systems biology of cancer genes to identify novel therapeutic targets."
intro:
  - excerpt: 'Led by Prof Francesca Ciccarelli, the Cancer Systems Biology Laboratory is based at the Francis Crick Institute in London, UK.'
feature_row:
  - image_path:
    alt: "Our Team"
    title: "Our Team"
    excerpt: "The team is made up of brilliant researchers from around the world."
    url: "/team/"
    btn_label: "Our Team"
    btn_class: "btn--primary"
  - image_path: /assets/images/code-example.png
    alt: "Our Software"
    title: "Our Software"
    excerpt: "We have developed several software tools to aid cancer genomic analysis."
    url: "/software/"
    btn_label: "Our Software"
    btn_class: "btn--primary"
  - image_path: /assets/images/publications-example.png
    title: "Publications"
    excerpt: "Details about our research can be found in our publications."
    url: "/publications/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}
